.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px, solid #ddd;
}
label {
	font-size: 25px;
}
.First_Name, .Last_Name, .email_address, .password{

	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
}
.message {
	font-size: 18px;
	padding: 10px;
}

table {
	width: 100px;
	border: 1px, solid black;
}
th, td{
	font-size: 20px;
	text-align: center;
    border: 1px solid black;
}